li.intro {
  line-height: 20px;
  font-size: 20px;
display: inline-block;
font-family: monospace;

}
li{
  line-height: 20px;
  font-size: 20px;
font-family: monospace;
display: block;
}
li.link{
  font-size: 30px;
  padding: 10px;
}
ul {
  text-align: center;
}
.title{
  text-align: center;
  font-size: 40px;
  background-color: lightblue;
}
}
.border{
  border: 1px solid lightblue;
  height: 400px;
}
img{
  height: 360px;
  width: 90%;
}
.bout{
  height: 600px;
  width: 85%;
  padding: 10px;
}
.me{
  font-size: 40px;
}
.am{
  text-align: left;
  font-family: monospace;
  font-size: 17px;
  padding: 10px;
}
.info{
  font-size: 17px;
  padding: 25px;
}
.bg{
  height: 300px;
  width: 100%;
}
.bgt{
  font-size: 17px;

}
.hey{
  text-align: left;
  font-family: inherit;
  font-size: 18px;
  display: contents;
}
